In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json

In [21]:
smogon_url = 'https://www.smogon.com/dex/sm/pokemon/' #most pokemon in this generation
smogon_text = requests.get(smogon_url).text
smogon_soup = BeautifulSoup(smogon_text,'html.parser')

In [22]:
smogon_javascript = smogon_soup.find_all('script', class_="", attrs={'type':'text/javascript'})[1]
left_brace_location = smogon_javascript.text.find('{')
smogon_json = smogon_javascript.text[left_brace_location:]
smogon_object = json.loads(smogon_json)
smogon_data = smogon_object['injectRpcs'][1][1]
smogon_pokemon = smogon_data['pokemon']
def is_standard(pokemon):
    return pokemon['isNonstandard'] == 'Standard' #fan-created Pokemon are labeled as Nonstandard
smogon_real_pokemon = list(filter(is_standard,smogon_pokemon))

In [73]:
pokemon_table = pd.DataFrame(data=smogon_real_pokemon)
pokemon_table.head()

,name,hp,atk,def,spa,spd,spe,weight,height,types,abilities,formats,isNonstandard,oob
0,Bulbasaur,45,49,49,65,65,45,6.9,0.7,"[Grass, Poison]","[Chlorophyll, Overgrow]",[LC],Standard,"{'dex_number': 1, 'evos': ['Ivysaur'], 'alts':..."
1,Ivysaur,60,62,63,80,80,60,13.0,1.0,"[Grass, Poison]","[Chlorophyll, Overgrow]",[NFE],Standard,"{'dex_number': 2, 'evos': ['Venusaur'], 'alts'..."
2,Venusaur,80,82,83,100,100,80,100.0,2.0,"[Grass, Poison]","[Chlorophyll, Overgrow]",[RU],Standard,"{'dex_number': 3, 'evos': [], 'alts': ['Venusa..."
3,Charmander,39,52,43,60,50,65,8.5,0.6,[Fire],"[Blaze, Solar Power]",[LC],Standard,"{'dex_number': 4, 'evos': ['Charmeleon'], 'alt..."
4,Charmeleon,58,64,58,80,65,80,19.0,1.1,[Fire],"[Blaze, Solar Power]",[NFE],Standard,"{'dex_number': 5, 'evos': ['Charizard'], 'alts..."

In [64]:
def get_nth_element(lst, n):
    if len(lst) > (n-1):
        return lst[n-1]
    else:
        return np.nan
    
def get_additional_information(oob, key):
    return oob[key]

pokemon_formats = pokemon_table['formats'].apply(get_nth_element, args=(1,))
pokemon_abilities_1 = pokemon_table['abilities'].apply(get_nth_element, args=(1,))
pokemon_abilities_2 = pokemon_table['abilities'].apply(get_nth_element, args=(2,))
pokemon_abilities_3 = pokemon_table['abilities'].apply(get_nth_element, args=(3,))
pokemon_abilities_4 = pokemon_table['abilities'].apply(get_nth_element, args=(4,))
pokemon_types_1 = pokemon_table['types'].apply(get_nth_element, args=(1,))
pokemon_types_2 = pokemon_table['types'].apply(get_nth_element, args=(2,))
pokemon_natdex = pokemon_table['oob'].apply(lambda oob: oob["dex_number"] if isinstance(oob,dict) else np.nan)

In [72]:
pokemon = pokemon_table.drop(
    columns=["types","abilities","oob","isNonstandard"]).assign(
    formats=pokemon_formats,ability_1=pokemon_abilities_1,
              ability_2=pokemon_abilities_2,ability_3=pokemon_abilities_3,
              ability_4=pokemon_abilities_4,type_1=pokemon_types_1,type_2=pokemon_types_2,
              nat_dex=pokemon_natdex)
pokemon.head()

,name,hp,atk,def,spa,spd,spe,weight,height,formats,ability_1,ability_2,ability_3,ability_4,type_1,type_2,nat_dex
0,Bulbasaur,45,49,49,65,65,45,6.9,0.7,LC,Chlorophyll,Overgrow,NaN,NaN,Grass,Poison,1.0
1,Ivysaur,60,62,63,80,80,60,13.0,1.0,NFE,Chlorophyll,Overgrow,NaN,NaN,Grass,Poison,2.0
2,Venusaur,80,82,83,100,100,80,100.0,2.0,RU,Chlorophyll,Overgrow,NaN,NaN,Grass,Poison,3.0
3,Charmander,39,52,43,60,50,65,8.5,0.6,LC,Blaze,Solar Power,NaN,NaN,Fire,NaN,4.0
4,Charmeleon,58,64,58,80,65,80,19.0,1.1,NFE,Blaze,Solar Power,NaN,NaN,Fire,NaN,5.0

----

In [74]:
pokemon_table["oob"][0]

{'dex_number': 1,
 'evos': ['Ivysaur'],
 'alts': [],
 'genfamily': ['RB', 'GS', 'RS', 'DP', 'BW', 'XY', 'SM', 'SS', 'SV']}